snippet rt
	<%${1:=} ${2} %>
snippet row
	<div class="row">
		${1}
	</div>

snippet if
	<% if ${1} %>
		${2}
	<% end %>
snippet else
	<% else %>
snippet end
	<% end %>
snippet ifelse
	<% if ${1} %>
		${2}
	<% else %>
		${3}
	<% end %>
